<!DOCTYPE html>
<html lang="es">
   <head>
 <meta charset=”utf8″ />
   <meta name="keywords" content="HTML5, CSS3, JavaScript">    
   <script type="text/javascript" src="JS/js.js"></script>
   <link rel="stylesheet" type="text/css" href="CSS/Estilos.CSS">
   </head>
   <body style="text-align: center; background: aquamarine;
     font-size: 25px;">
      Puedes contactarnos al siguiente numero     <br>
      <br>
      <br>
       "66979164390"
   </body>
   
   <ul style="list-style: none; text-align: center; margin-left : -100px; margin-top: 100px">
                     <li class="menu_item"><a class="menu_link" href="Index.html" >Inicio</a></li>
                 </ul>
</html>