<!DOCTYPE html>
<html lang="es">
   <head>
 <meta charset="utf8" />
   <meta name="keywords" content="HTML5, CSS3, JavaScript">    
   <script type="text/javascript" src="JS/js.js"></script>
   <link rel="stylesheet" type="text/css" href="CSS/Estilos.CSS">
   </head>
   <body style="background: aquamarine; text-align: center; font-size: 20px;">
<p>Somos un grupo de voluntarios que rescatamos animales en total abandono o maltrato, los rehabilitamos, los esterilizamos , sanamos y volvemos a pegar sus corazones rotos, por tanta maldad, y les buscamos las mejores familias para ellos.

Somos un Fundacion sin fines de lucro, nuestro fuerza nos la dan ellos al verlos con una familia de verdad.</p>
        
   </body>
   
    <ul style="list-style: none; text-align: center; margin-left: -40px;" >
                     <li class="menu_item"><a class="menu_link" href="Index.html" >Inicio</a></li>
                 </ul>
</html>


